<div class="row">
    <div class="col-sm-6">
        <div class="container-fluid">
            <img class="img-responsive img-rounded" src="{{$ctrl.image.$value}}"
                 width="100%">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container-fluid panel">
            <h2>{{$ctrl.event}}</h2>
            <h4>{{$ctrl.description.$value}}</h4>
            <br>
        </div>
    </div>
    <div class="col-sm-6 col-sm-6-push">
        <div class="container-fluid panel">
            <h3>Likes: {{$ctrl.likes.$value}}</h3>
            <div class="container-fluid">
            </div>
            <button class="btn btn-raised btn-info" ng-click="$ctrl.pushLike()">
                Like
            </button>
        </div>
    </div>
    <div class="col-sm-6 col-sm-6-push" ng-show="$ctrl.commentsEnabled.$value">
        <div class="container-fluid panel">
            <h3>Comments</h3>
            <div class="container-fluid">
            </div>
            <form ng-submit = "$ctrl.pushComment()" class="form-inline" style="width: 100%">
                <div class="form-group" style="margin-top: 5px; width: 100%">
                    <input id="inputComment" type="text" placeholder="Comment"
                           ng-model="$ctrl.comment" class="form-control" style="width: 100%">
                </div>
                <br>
                <div class="form-group" style="margin-top: 1px">
                    <input id="inputCommenter" type="text" placeholder="Your Name"
                           ng-model="$ctrl.commenter" class="form-control">
                </div>
                <input type="submit" class="btn btn-raised btn-success" value="Add Comment" style="margin-top: 1px">
            </form>
            <div ng-repeat="comment in $ctrl.comments | orderBy:'-'">
                <h4 style="margin-bottom: 1px">{{comment.comment}}</h4>
                <strong>{{comment.commenter}}</strong>
                <br>
            </div>
        </div>
    </div>
</div>